body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 12px;
    font-weight: 200;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 12px;;
    font-weight: 200;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 12px;
    font-weight: 200;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 12px;
    font-weight: 200;
}

.content{
    background: #ffffff;
}

/*searchForm*/
.ant-advanced-search-form {
    /*border: 1px solid #d9d9d9;*/
    /*border-radius: 6px;*/
}

.ant-advanced-search-form .ant-form-item {
    display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
}

.largeTable{
    font-size: 12px;
}
.smallBtn{
    font-size: 12px;
}

/*addArticle*/
.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
}

.ant-calendar-picker-input .ant-calendar-date-input-wrap>input {
    text-align: center;
}


/*文章详情*/
.test img{
    width: 100%;
}
.test img:last-child{
    width: auto;
}

/*content table change sizer*/
.ant-select-selection .ant-select-selection--single,.ant-select-selection__rendered{
    width: 100px;
}